IPtoGeo-log.log.tar.gz
.idea
IPtoGeo-log.log
SxGeotoMongo2.json
/home/alex/IdeaProjects/API-ip/target/scala-2.12/classes
/home/alex/IdeaProjects/API-ip/target/scala-2.12/resolution-cache
/home/alex/IdeaProjects/API-ip/target/scala-2.12/test-classes
/home/alex/IdeaProjects/API-ip/target/streams
/home/alex/IdeaProjects/API-ip/target/test-reports
/home/alex/IdeaProjects/API-ip/project/project
/home/alex/IdeaProjects/API-ip/project/target
